-------------------------------------------------------------------------------------------------------------------

<chip-discount [discount]="10"></chip-discount>
<br>
<chip-discount [discount]="25"></chip-discount>
<br>
<chip-discount [discount]="100"></chip-discount>
<br>
<chip-text></chip-text>

-------------------------------------------------------------------------------------------------------------------
<div class="list-card">
  <ng-container *ngFor="let item of [].constructor(50)">
    <card-product></card-product>
  </ng-container>
</div>