<div class="card">
    <div class="card-content">
        <img class="img-card" src="https://cdn.pixabay.com/photo/2023/12/09/10/10/woman-8439003_960_720.png">
        <div class="tag-discount">
            -50%
        </div>
        <div class="des-card">
            <div class="title">
                [ 10 Túi 100 Chiếc ] Khẩu Trang 5D 3 Lớp Chống Nắng Chống Bụi Chống Tia Uv
            </div>
            <div class="chip">
                <chip-discount [discount]="30"></chip-discount>
                &nbsp; <chip-text></chip-text>
            </div>
            <div class="price">
                <span class="unit">₫</span>
                <span class="money">20.000</span>
            </div>
        </div>
    </div>
</div>